body{
    background-color: #f2f2f2;
}

#app {
    text-align: center;
    margin-top: 180px;
}

#app button {
    height: 40px;
    color: #fff;
    background-color: #000;
    border: none;
    outline: none;
    border-radius: 6px;
}

#app img {
    border-radius: 50%;
}

#app .male  {
    border: 4px solid #8dbeff;
    background-color: #8dbeff;
}

#app .female  {
    border: 4px solid #f695f9;
    background-color: #f695f9;
}